.rangeSlider .MuiSlider-thumb {
  background-color: #D7F073;
  /* Thumb (the draggable circle) */
  width: 8px;
  /* Smaller thumb */
  height: 8px;
}

.rangeSlider .MuiSlider-thumb:hover {
  background-color: #D7F073;
  box-shadow: 0 0 6px rgba(215, 240, 115, 0.4), 0 0 12px rgba(215, 240, 115, 0.3);
}

.rangeSlider .MuiSlider-thumb:hover {
  background-color: #D7F073;
}

.rangeSlider .MuiSlider-track {
  background-color: #D7F073;
  /* Filled track between thumbs */
  border-color: #D7F073;
  height: 2px;
}

.rangeSlider .MuiSlider-rail {
  background-color: #fff;
  height: 2px;
}

.rangeSlider .MuiSlider-valueLabel {
  font-weight: 700;
  background-color: #D7F073;
  color: #000;
}