.landingPage {
    padding: 0px 95px;
}

@media screen and (max-width: 1200px) {
    .landingPage {
        padding: 0px 40px;
    }
}

@media screen and (max-width: 768px) {
    .landingPage {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 480px) {
    .landingPage {
        padding: 0px 10px;
    }
}