/* stepsPage */
.stepsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 130px;
}

.stepsPageHead {
    font-size: 58px;
    line-height: 55px;
    font-family: "Poppins", sans-serif;
    letter-spacing: -2px;
    text-align: center;
    font-weight: bolder;
}

.stepsPage h1 span {
    color: #D7F073;
}

.stepsPage p {
    margin-top: 32px;
    text-align: center;
    font-size: 18.5px;
}


/* stepsCardContainer */
.stepsCardContainer {
    display: flex;
    align-items: center;
    padding: 0px 42px;
    gap: 20px;
    margin-top: 100px;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .stepsCardContainer {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 992px) {
    .stepsPage {
        padding-top: 80px;
    }

    .stepsPageHead {
        font-size: 42px;
        line-height: 45px;
    }

    .stepsPage p {
        font-size: 16px;
        padding: 0 20px;
    }

    .stepsPage p br {
        display: none;
    }

    .stepsCardContainer {
        margin-top: 60px;
    }
}

@media screen and (max-width: 600px) {
    .stepsPageHead {
        font-size: 32px;
        line-height: 36px;
    }

    .stepsCardContainer {
        padding: 0 20px;
    }
}