/* heroSection */
.heroSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    position: relative;
    z-index: 5;
    padding: 200px 0px 140px 0px;
}

.heroSection::before {
    background-image: url("../../assets/bg.png");
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.4;
}


/* newToolsWidget */
.newToolsWidget {
    border: 0.3px solid #51513a;
    display: flex;
    align-items: center;
    padding: 9px 16px;
    border-radius: 22px;
    gap: 10px;
}

/* newP */
.newP {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #D7F073;
    border-radius: 8px;
    color: #000;
    padding: 2px 5px;
}

/* toolsP */
.toolsP {
    font-size: 16px;
    color: #D7F073;
}

/* mainHead */
#mainHead {
    font-size: 58px;
    line-height: 55px;
    font-family: "Poppins", sans-serif;
    letter-spacing: -2px;
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
}

#mainHead span {
    color: #D7F073;
}

.mainPara {
    margin-top: 25px;
    text-align: center;
    font-size: 18.5px;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .heroSection {
        padding: 150px 20px 100px 20px;
    }

    #mainHead {
        font-size: 42px;
        line-height: 45px;
    }

    .mainPara br {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #mainHead {
        font-size: 32px;
        line-height: 36px;
        margin-top: 30px;
    }

    #mainHead br {
        display: none;
    }

    .mainPara {
        font-size: 16px;
    }

    .toolsP {
        font-size: 14px;
    }
}